body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    /*background-image: url(http://wallpapercave.com/wp/kOAxfby.png);*/

    /*background-image: url(https://i.ytimg.com/vi/gn7lS8x0eSg/maxresdefault.jpg);*/
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}


#outside {
}

#inside {

}

h1 {
  /*color: white;*/
}
